* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 9px;
    font-family: sans-serif;
}

main {
    max-width: 400px;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
